page-lista-voluntario {

    .borda {
        border-style:groove ;
      
        //border-left-style: solid;
        border-left: 8px solid #f53d3d;
        //border-left-color:  #0000FF;
        //border-right-style: solid;
       // border-right-color:  #32db64;
      // border-right: 8px solid #32db64;
    
    }

    .cor {
        background-color:antiquewhite;

}

}
